@import "./../../styles/main.scss";

.projects_container {
  background-color: rgb(15, 15, 15);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header_bar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% 0 20%;
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    .Name {
      display: flex;
      justify-content: center;
      align-items: center;
      .avt {
        width: 40px;
        height: 40px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      h1 {
        font-size: 20px;
        padding-left: 20px;
        font-weight: lighter;
        color: rgb(241, 172, 22);
      }
    }

    .slogan {
      p {
        color: rgb(190, 190, 190);
        font-size: 12px;
      }
    }
    @include respond-to(mobile) {
      padding: 0 5% 0 5%;
      justify-content: flex-end;
      background-color: rgba(10, 10, 10, 0.5);
      backdrop-filter: blur(10px);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      .Name {
        gap: 10px;
        .avt {
          order: 2;
        }

        h1 {
          font-size: 12px;
          order: 1;
        }
      }
      .slogan {
        display: none;
      }
    }
    @include respond-to(tablet) {
      justify-content: flex-end;
      padding: 0 10% 0 15%;
      .Name {
        .avt {
        }

        h1 {
          font-size: 12px;
        }
      }
      .slogan {
        margin-left: 20%;
      }
    }
  }

  .images {
    max-width: 1200px;
    padding-top: 150px;

    .title {
      padding-bottom: 50px;
      h3 {
        font-weight: light;
        text-decoration: underline;
        color: rgb(241, 172, 22);
      }
    }

    .imgs {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      padding: 10px;

      .img {
        overflow: hidden;
        display: flex;
        cursor: pointer;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0);
          transition: background-color 0.3s ease-in-out;
        }

        &:hover::before {
          background-color: rgba(0, 0, 0, 0.5);
        }

        &.portrait {
          grid-row: span 3;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &.landscape {
          grid-row: span 1;
          aspect-ratio: 8 / 6;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  //
  //FOOTER
  .footer {
    width: 100%;
    height: 100px;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    .socials {
      display: flex;
      gap: 10px;
      a {
        text-decoration: none;
      }
      i {
        color: rgb(155, 155, 155);
      }
    }
    p {
      font-weight: 200;
      font-style: italic;
      letter-spacing: 1px;
      color: rgb(155, 155, 155);
    }
  }
  @include respond-to(mobile) {
    .socials {
      padding-left: 5px;
    }
    p {
      font-size: 9px;
      padding-right: 5px;
    }
  }
}

/* Hiệu ứng toàn màn hình khi nhấn vào ảnh */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
}
