@import "./../../styles/main.scss";

.about_container {
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  .contents {
    height: 100vh;
    background-color: beige;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .name {
      padding-top: 120px;
      width: 100%;
      p {
        color: black;
        background-color: aqua;
      }
    }
  }
}
