// Color palette
// $primary-color: #21A691;
// $secondary-color: #27403E;
// $accent-color: #87DF2C;
// $background-color: #060D10;
// $text-color: #ffffff;
// $link-color: #B4B4B2;
// $link-hover-color: darken($link-color, 10%);

// _variables.scss
// $primary-font: "Roboto", sans-serif;
// $secondary-font: "JetBrains Mono",
// monospace;

// Color palette (Classic Cinematic Black)
$primary-color: #1c1c1c; // Đen than - Chủ đạo, sâu lắng
$secondary-color: #2a2a2a; // Xám khói - Tạo độ tương phản nhẹ
$accent-color: #4a4a4a; // Xám bạc - Gợi cảm giác film noir
$background-color: #121212; // Đen ánh tím - Giống hiệu ứng phim cũ
$text-color: #e0e0e0; // Trắng xám - Đủ sáng nhưng không chói
$link-color: #757575; // Xám chì - Nhấn nhẹ nhàng
$link-hover-color: darken($link-color, 15%); // Tối hơn khi hover

// Fonts (Giữ cảm giác điện ảnh cổ điển)
$primary-font: "Cinzel", serif; // Font có nét mạnh mẽ, sang trọng
$secondary-font: "EB Garamond", serif; // Cảm giác như tiêu đề phim noir

// Font sizes
$base-font-size: 16px;
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;

$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;

// Breakpoints
$mobile: 768px;
$tablet: 1250px;
$desktop: 1600px;
